
body {
	width: 100%;
	height: 100vh;
	background-color: black;
}

.header{
    margin: 0 auto;
    width: 100%;
    height: 6%;
    background-color: rgba(0,0,0,0.6);
    top: 0; left: 0; right:0;
    z-index: 99999;
    margin-left: 0px;
    margin-top: 0px; 
    position: absolute;
    color: white;
}
#about{
  position: absolute;
  left: 1vw;
  font-size: 4.5vh;
  color: gray;
}
#projects{
  position: absolute;
  left: 13vw;
  font-size: 4.5vh;
  color: gray;
}
#experience{
  position: absolute;
  left:23.5vw;
  font-size: 4.5vh;
  color: gray;
}

#linkedin{
  display: inline-block;
  position: absolute;
  right: 1vh;
  top: 1vh;
  max-width: 40;
  max-height: 40;
  width: auto;
  height: auto;
}

#linkedin img:hover{
  opacity: 0.5;
}
#github{
  display: inline-block;
  position: absolute;
  right: 6vh;
  top: 1vh;
  max-width: 40;
  max-height: 40;
  width: auto;
  height: auto;
}

#github img:hover{
  opacity: 0.5;
}

.css-slideshow{
   position: relative;
   max-width: 100%;
   height: 100vh;
   min-height: 1px
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -webkit-touch-callout: none;
   user-select: none;

}
.css-slideshow figure{
   margin: 0;
   position: absolute;
}

.css-slideshow figure{
   opacity:0;
}

figure:nth-child(1) {
   animation: fadeout 64s 64s infinite;

}
figure:nth-child(2) {
  animation: fadeout 64s 56s infinite;
   
}
figure:nth-child(3) {
  animation: fadeout 64s 48s infinite;
   
}
figure:nth-child(4) {
   animation: fadeout 64s 40s infinite;
   
}
figure:nth-child(5) {
   animation: fadeout 64s 32s infinite;
   
}
figure:nth-child(6) {
   animation: fadeout 64s 24s infinite;
   
}
figure:nth-child(7) {
   animation: fadeout 64s 16s infinite;
   
}
figure:nth-child(8) {
   animation: fadeout 64s 8s infinite;
   
}
figure:nth-child(9) {
   animation: fadeout 64s 0s infinite;
}

@keyframes fadeout{
   0%{
      opacity: 1;
   }
   10.5%{
   	opacity: 1;
   }
   12.5%{
      opacity: 0;
   }
   98% {
      opacity:0;
   }
   100% {
      opacity:1;
   }
}

@keyframes fadein{
	0%{
      opacity: 0;
   }
   50% {
      opacity:1;
   }
   100%{
   	  opacity: 0;
   }
}



