body { 
  background: url(../assets/images/cosmos.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#box {
  width: 500px;
  height: 300px;
  padding: 20px; 
  background-color: rgba(255,255,255,0.5); 
  -moz-box-shadow: 0 0 20px black; 
  -webkit-box-shadow: 0 0 20px black; 
  box-shadow: 0 0 20px black;
  position:absolute;
  left:50%;
  top:50%;
  margin-top:-150px;
  margin-left:-250px;
  border-radius: 7px;
  text-align: center;
}

h1 {
  font-size: 40;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Average', serif;
}

p.style {
  line-height: 0.1em;
  padding-top: 15px;
  font-weight: bold;
  font-size: 20;
  color: white;
  font-family: 'Libre Baskerville', serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#resume {
  font-size: 20;
  line-height: 5em;
  font-weight: bold;
}

.github {
  width: 45px;
  height: 45px;
  bottom: 1em;
  right: 1em;
  position: absolute;
  float: right;
}

.github:hover{
  opacity: 0.6;
}

.linkedin {
  width: 41px;
  height: 42px;
  bottom: 1.05em;
  right: 4.5em;
  position: absolute;
  float: right;
}

.linkedin:hover{
  opacity: 0.6;
}

.resume {
  width: 45px;
  height: 45px;
  bottom: 1.05em;
  right: 8em;
  position: absolute;
}

#container{
  width: 125px;
  height: 35px;
  position: absolute;
  border-radius: 10px;
  background-color: rgba(0,0,0, 0.4);
  text-align: center;
  left: 13.4em;
  bottom: 7em;
}

a.aboutme, a.home{
  text-decoration: none;
  color: white;
  transition: 1s;
}

a.aboutme:hover, .home:hover{
  color: #2280d6;
}

h4 {
  text-align:left;
}

h4.a-header{
  text-align: center;
}

.description{
  padding: 5px 5px 5px 5px;
  width: 600px;
  position: absolute;
  left: 3.8em;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

a.popup{
  color: blue;
}

.popup img { 
  border:1px solid #000;
  margin:3px;
  float:left;
}
.popup span { 
  position:absolute;
  visibility:hidden;
}
.popup:hover span { 
  visibility:visible;
  top: 15em; 
  right: 24em; 
  z-index:1;
}

p.me {
  text-align: justify;
  text-indent: 30px;
}
